# Intro To Machine Learning

![regresion-lineal](regresion-lineal.gif )

Éste es el ejercicio que te ayudará a repasar los conceptos básicos que hemos visto de Probabilidad y Estadística:

*Encontrar la Media de la siguiente serie de números:*

**1525, 257, 378, 9543, 7854, 152**

*Encontrar la Moda de la siguiente serie de números:*

**9, 5, 9, 4, 3, 6, 7, 1, 2, 3, 9, 1, 2**

*Encontrar la Mediana en la siguiente serie de datos, recuerda primero ordenar los números de menor a mayor:*

**9, 5, 9, 4, 3, 6, 7, 1, 2, 3, 9, 1, 2**

![ejercicio-escrito](ejercicio-escrito.jpg)

In [1]:
#Obtener Media
def promedio(datos):
    sumatoria = sum(datos)
    n = len(datos)
    result = sumatoria / n
    return result

In [13]:
#Obtener moda
def moda(datos):
    #Valores a tomar en cuenta
    resultados = []
    repeticiones = 0
    datos.sort()
    print("Datos ordenados {}".format(datos))
    #Contar los valores y obtener los mas repetidos
    for i in datos:
        apariciones = datos.count(i)
        if apariciones >= repeticiones:
            if apariciones == repeticiones and resultados.count(i) == 0:
                resultados.append(i)
            elif resultados.count(i) == 0:
                resultados = [i]
            repeticiones = datos.count(i)
    return resultados

In [14]:
#Obtener mediana
def mediana(datos):
    mediana = 0
    n = len(datos) 
    datos.sort() #Ordena la lista de menor a mayor
    if n % 2 == 0: # si es par la formula es: Me = X(n / 2 ) + X((n / 2) + 1)
        mediana = (datos[int((n / 2) + 1) - 1] + datos[int( n / 2)] - 1) / 2
    else: # Si es impar la formula es: Me = X((n + 1) / 2)
        mediana = datos[int((n + 1) / 2) - 1]
    return mediana

In [15]:
print("La media es {}".format(promedio([1525, 257, 378, 9543, 7854, 152])))
print("La moda es {}".format(moda([9, 5, 9, 4, 3, 6, 7, 1, 2, 3, 9, 1, 2])))
print("La mediana es {}".format(mediana([9, 5, 9, 4, 3, 6, 7, 1, 2, 3, 9, 1, 2])))

La media es 3284.8333333333335
Datos ordenados [1, 1, 2, 2, 3, 3, 4, 5, 6, 7, 9, 9, 9]
La moda es [9]
La mediana es 4

## Con pandas

In [16]:
import pandas as pd

In [28]:
#representa esto [1525, 257, 378, 9543, 7854, 152]
dataMedia = pd.read_csv('listaMedia.csv', index_col='#')

In [29]:
dataMedia.head()

   Number
#
1    1525
2     257
3     378
4    9543
5    7854

In [30]:
dataMedia.shape

(6, 1)

In [31]:
dataMedia['Number']

#
1    1525
2     257
3     378
4    9543
5    7854
6     152
Name: Number, dtype: int64

In [32]:
print("""
Los datos ingresados son:
{}
La media obtenida es {}""".format(dataMedia['Number'], dataMedia['Number'].mean())) #hallando la media con el metodo mean()

Los datos ingresados son:
#
1    1525
2     257
3     378
4    9543
5    7854
6     152
Name: Number, dtype: int64
La media obtenida es 3284.8333333333335

In [33]:
#representa esto [9, 5, 9, 4, 3, 6, 7, 1, 2, 3, 9, 1, 2]
dataMoMe = pd.read_csv('listaModaMediana.csv', index_col='#')

In [34]:
dataMoMe.head()

   Number
#
1       9
2       5
3       9
4       4
5       3

In [37]:
dataMoMe.shape #filas por columnas

(13, 1)

In [38]:
dataMoMe['Number']

#
1     9
2     5
3     9
4     4
5     3
6     6
7     7
8     1
9     2
10    3
11    9
12    1
13    2
Name: Number, dtype: int64

In [56]:
print("""
Los datos ingresados son:
{}
La moda obtenida es 
{}""".format(dataMoMe['Number'].sort_values(), dataMoMe['Number'].mode()))
 #Hallando la moda

Los datos ingresados son:
#
8     1
12    1
9     2
13    2
5     3
10    3
4     4
2     5
6     6
7     7
1     9
3     9
11    9
Name: Number, dtype: int64
La moda obtenida es
0    9
dtype: int64

In [54]:
print("""La mediana es 
{}""".format(dataMoMe.median())) #Hallando la mediana

La mediana es
Number    4.0
dtype: float64